/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
/*
font-weight: 500;

400 = Regular

500 = Medium

600 = Semi Bold

700 = Bold
*/

/*
<input type="text">        <!-- Текст -->
<input type="email">       <!-- Email -->
<input type="password">    <!-- Пароль -->
<input type="number">      <!-- Числа -->
<input type="tel">         <!-- Телефон -->
<input type="url">         <!-- Ссылка -->
<input type="search">      <!-- Поиск -->
<input type="date">        <!-- Дата -->
<input type="time">        <!-- Время -->
<input type="color">       <!-- Цвет -->
<input type="file">        <!-- Файл -->
<input type="checkbox">    <!-- Чекбокс -->
<input type="radio">       <!-- Радио-кнопка -->
<input type="range">       <!-- Ползунок -->
<input type="hidden">      <!-- Скрытое поле -->
*/

body {
    font-family: "Inter", sans-serif; /*Основной шрифт и запасной*/
    font-optical-sizing: auto; /*Автоматически подстраивает толщину шрифта под размер текста. Мелкий текст - чуть толще для читаемости. Крупный текст - чуть тоньше для элегантности*/
    font-style: normal; /*Обычное начертание (не курсив). Отключает курсив, если он был унаследован*/
    background-color: #fff;
    color: #6B7280;
    margin: 0;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

a {
    color: #6B7280;
    text-decoration: none; /* Подчеркивание */
}

ul {
    /* Убираем точку возле ссылки */
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

p {
    margin: 0;
}
/*
img {
    max-width: 100%;
}
*/

.tick { 
    display: flex;          /* ← добавь это */
    align-items: center;    /* ← и это */
    justify-content: center;
    
    background: none; /* Убрать фон */
    border: none; /* Убрать рамку */
    padding: 0; /* Убрать отступы */
    cursor: pointer; /* Курсор указатель */
}


.tick svg {
    display: block;
    fill: #6B7280
}

.container {
    max-width: 1360px; /*Ширина контента 1360*/
    margin: 0 auto; /*Отступы слва и справа*/
    padding: 0 15px;/*отступы, что бы при адаптации были не в 0*/
}

/*Шапка*/

/* Уведомление -------------------------------------------------------------------------------------------------------------------------------- */


.header {

}

.header__notification {
    padding: 10px;
    background-color: #634C9F;
    color: #fff;
    
}

.header__notification .container {
    display: flex;
    align-items: center; /*Выравнивание по вертикали*/
    justify-content: center; /*Выравнивание по горизонтали*/
    gap: 195px;
}

.header__notification__block-left {

}

.header__notification__block-left__desc {
    font-size: 12px;
}

.header__notification__block-right {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.header__notification__desc {
    font-size: 12px;
    opacity: 0.7;
}

.header__notification__block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__notification__block__digital-desc {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__notification__block__digital-desc__timer {
    font-size: 18px;
}

.header__notification__block__digital-desc__desc {
    font-size: 11px;
    opacity: 0.7;
}
/*Шапка - верхняя часть ----------------------------------------------------------------*/

.header__top {
    padding: 15px 0;
    border-bottom: 1px solid #D1D5DB;
}

.header__top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top__nav__left {
    display: flex;
    gap: 15px;
}

.header__top__nav__list-1 {
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.header__top__nav__desc {
    padding-left: 15px;
    border-left: 1px solid #D1D5DB;
    font-size: 12px;
}

.header__top__nav__desc-span {
    color: #EA580C;
}

.header__top__nav__right {
    display: flex;
    align-items: center;
}

.header__top__nav__list-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
}

.header__top__nav__list-2 li {
    display: flex;
    align-items: center;
    gap: 6px;
}

/*Шапка - Средняя часть ------------------------------------------------------------*/

.header__middle {
    padding: 20px 0;
}

.header__middle .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__middle__left {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 25px;
}

.logo {

}

.header__middle__delivery {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location {

}

.header__middle__delivery__text {
    width: 55px;

}

.header__middle__delivery__text__top {
    font-size: 11px;
    opacity: 0.7;
}

.header__middle__delivery__text__bot {
    font-size: 13px;
    color: #030712;
}

.header__middle__search-frame {
    display: flex;
    align-items: center;

    width: 865px;
    height: 50px;

    border-radius: 10px; /*Скругление*/
    background-color: #F3F4F6;

}

.header__middle__search-frame__block {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.header__middle__search-frame__block__input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: inherit;
}

.search {

}

.header__middle__right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 30px;
}

.header__middle__account {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account {

}

.header__middle__account__text {

}

.header__middle__account__text__top {
    font-size: 11px;
    opacity: 0.7;
}

.header__middle__account__text__bot {
    font-size: 13px;
    color: #030712;
}

.header__middle__heart-basket {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__middle__heart-basket__heart-block {
    position: relative;
    display: inline-block;
}

.heart {

}

.header__middle__heart-basket__heart-block__heart-tittle {
    position: absolute;
    top: -7px;
    right: -8px;

    width: 17px;
    height: 17px;
    border-radius: 50%;

    background: #DC2626;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
}

.header__middle__heart-basket__basket-block {
    display: flex;
    position: relative;
    display: inline-block;
}

.basket {

}

.header__middle__heart-basket__heart-block__basket-tittle {
    position: absolute;
    top: -7px;
    right: -8px;

    width: 17px;
    height: 17px;
    border-radius: 50%;

    background: #DC2626;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 10px;
}

/*Шапка - Нижняя часть --------------------------------------------------------------*/

.header__bottom {
    padding: 15px 0;
    border-top: 1px solid #D1D5DB;
    font-size: 15px;
}

.header__bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom__nav__left {
    display: flex;
    align-items: center;
}

.header__bottom__nav__list-1 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__bottom__nav__list-1 li {
    display: flex;
    align-items: center;
    gap: 6px;
}


.header__bottom__nav__list-1__link {
    font-size: 15px;
    color: #030712;
}

.header__bottom__nav__list-1 .tick svg path {
    fill: #030712; 
}

.header__bottom__nav__right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__bottom__nav__list-2 {
    display: flex;
    align-items: center;
}

.header__bottom__nav__list-2 li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__bottom__nav__list-2__link {
    font-size: 15px;
    color: #030712;
}

.header__bottom__nav__list-2 .tick svg path {
    fill: #030712; 
}

.header__bottom__nav__list-3 {
    display: flex;
    align-items: center;
}

.header__bottom__nav__list-3 li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__bottom__nav__list-3__link {
    font-size: 15px;
    color: #DC2626;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    color: #fff;

    width: 40px;
    height: 20px;
    background: #EA580C;
    border-radius: 5px;
}

.header__bottom__nav__list-3 .tick svg path {
    fill: #DC2626; /* красный цвет */
}

/*tabpanel - Приветственная панель -------------------------------------------------------------------------------------------------------*/

.main {
}

.tabpanel {
    /*Это для того, что страница была на весь экран*/
    /*box-sizing: border-box;
    min-height: 100vh;*/
    padding-top: 166px; /*Внутренний отступ, сверху*/
    padding-bottom: 166px; /*Внутренний отступ, сверху*/
    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat; /*Что бы не дублировалась картинка*/
    background-size: cover; /*Во весь экран*/
    background-position: center; /*По центру*/
    width: 100%;
}

.container__text {
    width: 100%;
}
.tabpanel__subtitle {
    margin-bottom: 6px;
    font-size: 12px; /*Размер шрифта*/

    display: flex;
    align-items: center;
    justify-content: center;

    color: #166534;

    width: 125px;
    height: 30px;
    background: linear-gradient(90deg, #16a34a85 0%, #22c55e00 60%); 
    border-radius: 5px;
}
.tabpanel__title {
    font-size: 58px;
    width: 660px;
}
.tabpanel__desc {
    padding-top: 7px;
    padding-bottom: 42px;
    font-size: 16px;
    width: 530px;
}

.tabpanel__btn-block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: #fff;

    width: 135px;
    height: 45px;
    background: #634C9F;
    border-radius: 10px;
}

.tabpanel__btn-block__block-text {

}

.tabpanel__btn-block__block-text__title {
    display: flex;
    align-items: end;
    gap: 7px;

}

.tabpanel__btn-block__block-text__title__red {
    font-family: "Barlow", sans-serif; /*Основной шрифт и запасной*/
    font-optical-sizing: auto; /*Автоматически подстраивает толщину шрифта под размер текста. Мелкий текст - чуть толще для читаемости. Крупный текст - чуть тоньше для элегантности*/
    font-style: normal; /*Обычное начертание (не курсив). Отключает курсив, если он был унаследован*/
    color: #DC2626;
    font-size: 28px;

}

.tabpanel__btn-block__block-text__title__black {
    font-family: "Barlow", sans-serif; /*Основной шрифт и запасной*/
    font-optical-sizing: auto; /*Автоматически подстраивает толщину шрифта под размер текста. Мелкий текст - чуть толще для читаемости. Крупный текст - чуть тоньше для элегантности*/
    font-style: normal; /*Обычное начертание (не курсив). Отключает курсив, если он был унаследован*/
    color: #111827;
    font-size: 20px;
    text-decoration: line-through; /*Линия по середине*/
}

.tabpanel__btn-block__block-text__desc {
    font-size: 11px;
}

/*list - Список продуктов -----------------------------------------------------------------------------*/


.list {
    padding-top: 46px;
    padding-bottom: 130px;
}

.list .container {
    display: flex; /*Выстроить все значения в ряд*/
    justify-content: space-between; /*Выставить на одинаковое расстояние*/
    flex-wrap: wrap; /*Перенос для адаптации*/
    gap: 30px; /*Для расстоянии при адаптации*/

    width: 100%;
}

.list__card {
    width: 122px;
    text-align: center; /*Положение в центре*/
}

.list__img-background {
    width: 116px;
    height: 116px;
    border-radius: 50%; /*Делает закругление */
    background: #F3F4F6; /*Цвет фона*/
    object-fit: cover; /*Для пропорциональной картинки*/
}

.list__img {
    width: 100%;
    height: 122px;
    object-fit: cover; /*Для пропорциональной картинки*/
}

.list__title {
    font-size: 11px; /*У дизайнера 13*/
    padding: 7px;
    color: #030712;
}

/*Подвал ------------------------------------------------------------------------------------------------------------------------------------*/


.footer {
    background-color: #F3F4F6;
}

/*Подвал-верх --------------------------------------------------------------------------------------*/

.footer__section-top {
    padding-top: 50px;
}

.footer__section-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__section-top__text-left {
    width: 310px;
}

.footer__section-top__text-left__title {
    font-size: 20px;
    color: #030712;
}

.footer__section-top__text-left__desc {
    font-size: 13px;
}

.footer__section-top__text-right {
    width: 420px;
    text-align: left;
}

.footer__section-top__text-right__frame {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden; /*Обрезаем под рамку*/
    border-radius: 10px; /*Скругление*/
    border: 2px solid #D1D5DB;
    
}
/*Сюда вернуться*/
.footer__section-top__text-right__frame__container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;

    height: 20px;
}

.envelope {

}
.footer__section-top__text-right__frame__container__text {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: inherit;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500px;
    font-size: 14px;
    color: #fff;

    width: 74px;
    height: 50px;
    background: #634C9F;
}

.footer__section-top__text-right__desc {
    margin-top: 10px;
    font-size: 10px;
}

.footer__section-top__text-right__desc-span {
    color: #634C9F;
}

/*Подвал-центр --------------------------------------------------------------------------------------*/

.footer__section-middle {
    padding-top: 55px;
}

.footer__section-middle .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /*Выравнивание по верху */
    
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 50px;

    width: 100%;

    border-top: 1px solid #D1D5DB;    /* линия сверху */
    border-bottom: 1px solid #D1D5DB; /* линия снизу */
}

.footer__section-middle__content-left {
    
}

.footer__section-middle__content-left-title {
    font-size: 14px;
    color: #111827;
}

.footer__section-middle__content-left__desc {
    font-size: 13px;

    margin-top: 20px;
    margin-bottom: 30px;
}

.footer__section-middle__content-left__phone-black__content {
    display: flex;
    align-items: center;

    gap: 22px;

    margin-bottom: 30px;
}

.phone-black {

}

.footer__section-middle__content-left__phone-black__content__block {

}

.footer__section-middle_content-left__phone-black__text {
    font-size: 12px;
}

.footer__section-middle_content-left__phone-black__number {
    font-size: 20px;
    margin-top: 3px;
    color: #111827;
}

.footer__section-middle__content-left__envelope-black__content {
    display: flex;
    align-items: center;

    gap: 22px;
}


.envelope-black {

}

.footer__section-middle__content-left__envelope-black__content__block {

}

.footer__section-middle_content-left__envelope-black__text {
    font-size: 12px;
}

.footer__section-middle_content-left__envelope-black__mail {
    font-size: 14px;
    margin-top: 5px;
    color: #111827;
}

.footer__section-middle__content-right {
    display: flex;
}

.footer__section-middle__content-right__content-block {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__section-middle__content-right__content-block__title {
    font-size: 14px;
    color: #111827;
}


.footer__section-middle__content-right__content-block__text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__section-middle__content-right__content-block {

}

.footer__section-middle__content-right__content-block__apps__title {
    font-size: 14px;
    color: #111827;
}

.footer__section-middle__content-right__content-block__apps__list {
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer__section-middle__content-right__content-block__apps {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 15px;
}

.google-play {

}

.footer__section-middle__content-right__content-block__apps__desc {
    width: 100px;
    font-size: 10px;
}

.app-store {

}

.footer__section-middle__content-rights__content-block__apps__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__section-middle__content-rights__content-block__apps__media__title {
    font-size: 12px;
    color: #111827;
}

.footer__section-middle__content-rights__content-block__apps__media {

}

.Facebook {

}

.Twitter {

}

.Instagram {

}

.LinkedIn {

}

/*Подвал-низ --------------------------------------------------------------------------------------*/

.footer__section-bottom {
    padding: 50px 0;
}

.footer__section-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__section-bottom__content-left {

}

.footer__section-bottom__content-left__content-block {

}

.footer__section-bottom__content-left__content-block__desc {
    font-size: 12px;
    margin-bottom: 22px;
}

.footer__section-bottom__content-left__content-block__desc-span {
    color: #634C9F;
}

.footer__section-bottom__content-left__content-block__services {
    display: flex;
    align-items: center;
    gap: 10px;
}

.VISA {

}

.MasterCard {

}

.PayPal {

}

.Skrill {

}

.Klarna {

}

.footer__section-bottom__content-right {

}

.footer__section-bottom__content-right__text-block {
    display: flex;
    font-size: 12px;
    color: #111827;

    display: flex;
    gap: 8px;
}

.footer__section-bottom__content-right__text-block li {
    border-bottom: 1px solid #111827; /* линия снизу */
}

.footer__section-bottom__content-right__text-block a {
    color: #111827;
}

/*Адаптация ------------------------------------------------------------------------------------*/
/* Плавная адаптация для header__middle */
@media (max-width: 1440px) {
    body {
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }
}

@media (max-width: 1360px) {
    body {
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }

}

@media (max-width: 1200px) {
    /* ОБЩИЕ ИСПРАВЛЕНИЯ */
    body {
        overflow-x: hidden;
    }
    * {
        box-sizing: border-box;
    }

    .list .container {
        width: 100%;
        flex-wrap: wrap; /*Перенос для адаптации*/
        gap: 30px 90px;
    }

    .footer__section-middle .container {
        width: 100%;
        flex-wrap: wrap; /*Перенос для адаптации*/ 
    }
}

@media (max-width: 1024px) {
    /* ОБЩИЕ ИСПРАВЛЕНИЯ */
    body {
        overflow-x: hidden;
    }
    * {
        box-sizing: border-box;
    }
    
    /* HEADER NOTIFICATION */
    .header__notification .container {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    
    /* HEADER TOP */
    
    /* HEADER MIDDLE */

    /* HEADER BOTTOM */

    .header__bottom__nav__right {
        gap: 15px;
    }
    
    /* TABPANEL */
    .tabpanel {
        padding: 70px 0;
    }
    
    /* LIST SECTION */
    .list__card {
        padding-right: 0px;
    }

    .list .container {
        flex-wrap: wrap; /*Перенос для адаптации*/
        gap: 30px 80px;
    }
        
    /* FOOTER TOP */

    /* FOOTER MIDDLE */
    .footer__section-middle .container {
        flex-direction: column;

        padding: 50px 15px;
        gap: 60px;
    }
    
    .footer__section-middle__content-right {
        width: 100%;
    }
    
    /* FOOTER BOTTOM */    

    .footer__section-bottom .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* выравнивает элементы по вертикали по центру контейнера (для flex/grid) */

        gap: 40px;
    }
    
    .footer__section-bottom__content-right__text-block {
        justify-content: center ; /*выравнивает элементы по горизонтали по центру контейнера */    
    }
    
    .footer__section-bottom__content-left__content-block {
        display: flex;
        flex-direction: column;
        align-items: center; /* выравнивает элементы по вертикали по центру контейнера (для flex/grid) */
    }
    
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        margin: 0;
    }
    
    * {
        box-sizing: border-box; /*padding и border ВКЛЮЧАЮТСЯ в ширину*/
    }

    .header__notification {
        width: 100%;
    }
    .header__top .container{
        display: flex;
        flex-direction: column;
        align-items: center; /* выравнивает элементы по вертикали по центру контейнера (для flex/grid) */  
        
        gap: 15px;
    }
    .header__middle {
        padding: 20px;
        
    }
    .header__middle .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px; /* ← только вертикальные отступы */
        width: 100%;
    }

    .header__middle__search-frame {
        order: 3;
        width: 100%; /* ← чтобы занял всю строку */
    }

    .header__bottom .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* выравнивает элементы по вертикали по центру контейнера (для flex/grid) */
        
        gap: 15px;
    }
    
    .tabpanel {
        padding: 50px 20px;
    }
    
    .tabpanel__title {
        font-size: 28px;
        width: 50%;
    }
    
    .tabpanel__desc {
        font-size: 10px;
        width: 50%;
    }

    .tabpanel__btn-block {
        transform: scale(0.7); /* Уменьшит на 30% */
        transform-origin: left center;
    }
    
    .list .container {
        justify-content: center;
        gap: 20px;
    }

    .footer__section-top .container{
        display: flex;
        flex-direction: column;
        align-items: center; /* выравнивает элементы по вертикали по центру контейнера (для flex/grid) */

        gap: 20px;
    }
    .footer__section-top__text-left__desc {
        text-align: center;
    }
    .footer__section-top__text-right__desc {
        text-align: center;
    }

    .footer__section-middle {
        padding: 50px 20px;
    }

    .footer__section-middle .container {
        flex-direction: column;
        gap: 50px;
    }

    .footer__section-middle__content-right {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px; /* ← только вертикальные отступы */
        width: 100%;
    }

}

@media (max-width: 576px) {
    .container__text {
        width: 100%;
    }

    .header__middle__delivery {
        display: none;
    }

    .header__bottom {
        width: 100%;
    }
    
    .footer__section-bottom .container {
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    body {
        overflow-x: hidden;
        margin: 0;
    }
    
    * {
        box-sizing: border-box; /*padding и border ВКЛЮЧАЮТСЯ в ширину*/
    }

    .header__notification__desc.medium {
        display: none;
    }

    .header__top { 
        display: none;
    }

    .header__middle__left {
        padding-right: 0;
        transform: scale(0.7); /* Уменьшит на 30% */
        transform-origin: left center; 
    }

    .header__middle__delivery {
        display: none;
    }

    .header__middle__heart-basket {
        display: none;
    }
    
    .header__middle__search-frame__block__input {
        font-size: 11px;
    }

    .header__middle .container {
        padding: 0;
    }

    .header__middle__right {
        padding-left: 0;

        transform: scale(0.9); /* уменьшить на 20% */
        transform-origin: left center; /* точка трансформации */
    }

    .logo {
        transform: scale(0.9); /* уменьшить на 20% */
        transform-origin: left center; /* точка трансформации */
    }

    .search {
        transform: scale(0.8); /* уменьшить на 20% */
        transform-origin: left center; /* точка трансформации */
    }

    .header__bottom {
        display: none;
    }    

    .tabpanel {
    }

    .tabpanel__subtitle {
        display: none;
    }
    
    .tabpanel__title {
        font-size: 15px;
        width: 40%;
    }

    .tabpanel__desc {
        display: none;
    }

    .container__text {
        width: 100%;
    }

    .tabpanel__btn-block {
        display: flex;
        justify-content: flex-start; /* лучше использовать flex-start вместо left */
        flex-direction: column;
        gap: 20px;
        align-items: flex-start; /* выравнивание элементов по левому краю */   
        
        transform: scale(0.5); /* Уменьшит на 30% */
        transform-origin: left center; 
    }
    .list {
        padding-bottom: 50px;
    }
    .list__card {
        width: 30%;
        text-align: center;
        justify-content: center;
        align-items: center;
        transform: scale(0.9); /* Уменьшит на 10% */
        transform-origin: left center; 
    }

    .footer {
        width: 100%;
    }

    .footer__section-top__text-right {
        width: 100%;
    }
    
    .footer__section-top__text-right__frame {
        flex-direction: column;
        height: 70px;
    }
    
    .footer-btn {
        width: 100%;
    }

    .footer__section-top__text-left {
        width: 100%;
        text-align: center;
    }

    .footer__section-top__text-left__title {
        font-size: 16px;
    }

    .footer__section-top__text-left__desc {
        display: none;
    }

    .footer__section-bottom .container {
        text-align: center;
    }
    .footer__section-bottom {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .footer__section-bottom__content-right {
        display: none;
    }
}


